.content-list {
    justify-content: space-between;
}

.content-item {
    width: calc(50% - 2.5%);
}

@media(max-width: 1024px) {
    .content-list {
        flex-direction: column;
    }
    .content-item {
        width: 100%;
        margin-bottom: 15px;
    }
}