.item-details {
    background: #303030;
    border-radius: 5px;
}

.item-image {
    height: 200px;
    margin: 1rem;
    border-radius: 10px;
}

.item-details .item-info {
    margin-top: 1rem;
}

.item-details .item-info ul{
    margin-right: 1rem;
}